
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<br />
<p>

    @Html.ActionLink("Create New Role", "CreateRole")
</p>




<table class="table">
    <tr>
        <th>
            Role
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole","Admin", new { roleName=item.Name },null) |
                @Html.ActionLink("Delete", "DeleteRole","Admin", new { roleName = item.Name },null)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
